.add-range {
  height: 314px;
  width: 314px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px dashed var(--color-text);
  border-radius: 2px;
}

.add-range .fa-plus-circle {
  color: var(--color-text);
}
/* Hover styling added on add range icon similar to side bar icons */
.add-range .fa-plus-circle:hover {
  color: #d4a672;
}
