.icon-button {
  background: transparent;
  border: none;
  padding: 5px;
}

.icon-button i {
  color: var(--color-white);
}
/* all the cons to have hover fonctionalities for better UX */
.icon-button i:hover {
  color: #d4a672;
}